/* Base */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    color: #2b2b2b;
    line-height: 1.6;
    font-size: 16px;
    background-color: #2C425B;
}

h1, h2, h3 {
    margin-top: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color:#166ecb;
}

a:hover {
    font-weight: 510;
}

img {
    max-width: 50vw;
}

input, textarea, select {
    max-width: 350px;
    font-size: 16px;
    border: none;
    margin: 5px 5px 5px 0px;
    outline: none;
    padding: 10px;
    background: linear-gradient(135deg, #ffffff, #f8f9fa); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;;
}

h1 { 
    font-size: 45px;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

p {
    font-family:"Lato", sans-serif;
}


/* Layout */

.container {
    padding: 30px 20px;
}

.small-container {
    padding: 10px 20px 1px 20px;
    margin-bottom: none;
}

.text-header {
    margin-top: 30px;
}

.text-container {
    margin-top: 100px;
}

header {
    background-color: #2C425B;
}

footer {
    background-color: #2C425B;
}

.hero {
    padding-top: 120px;
    background-image: linear-gradient(to right, #2E3D4F, #2A4769);;
    height: 90vh;
}

.hero-image {
    margin-top: 30px;
    border-radius: 20px;
}

.paragraph {
    line-height: 1.7;
    max-width: 700px;
}

.outer-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-container {
    max-width: 900px;
    border-radius: 10px;
    color:#2b2b2b;
    margin: 20px 0px;
    background: #F1F2F3; 
    padding: 25px 25px;
}

.full-length-section {
    min-height: 90vh;
}

/* Module */

.card {
    min-width: 250px;
    background: linear-gradient(135deg, #ffffff, #f8f9fa); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0px;
  }

  .product-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    max-width: 500px;
    height: 100%;
    flex-grow: 1;
    background: linear-gradient(135deg, #ffffff, #f8f9fa); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    margin: 0px 0px 20px 0px;
  }

  .card-image {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    max-width: 100%;
    border-radius: 5px;
  }

  .card-heading {
    font-size: 30px;
    font-weight: bold;
  }

  .card-text {
    margin-top: none;
  }



  .blue-btn {
        display: inline-block;
        padding: 7px 14px;
        background-color: #438FBA;
        /* background: linear-gradient(to bottom, #53A6D5, #438FBA);  */
        background: linear-gradient(to bottom, #53A6D5, #3a799e); 
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 20px;
        margin-top: 10px;
        font-family: "Lato", sans-serif;
  }

  .yellow-btn {
    display: inline-block;
    padding: 7px 14px;
    background-color: #ECAD32;
    /* background: linear-gradient(to bottom, #FABA3D, #ECAD32);  */
    background: linear-gradient(to bottom, #FABA3D, #cc9423); 
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
}

.nav-blue-btn {
    display: inline-block;
    padding: 7px 14px;
    background-color: #4F9CF9;
    /* background: linear-gradient(to bottom, #53A6D5, #438FBA);  */
    background: linear-gradient(to bottom, #53A6D5, #3a799e); 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.nav-yellow-btn {
    display: inline-block;
    padding: 7px 14px;
    background-color: #FBC343;
    /* background: linear-gradient(to bottom, #FABA3D, #ECAD32);  */
    background: linear-gradient(to bottom, #FABA3D, #cc9423);
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

.block-btn {
    display: block;
    font-size: 16px;
    width: fit-content;
    padding: 7px 14px;
}

.pre-order-text {
    margin-top: 60px;
}

.stripe-btn {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.about-checkout {
    margin-top: 20px;
}
.hidden-section {
    display: none;
}

.text-box {
    width: 50vw;
    
}

.sub-title {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;

}

.form {
    padding: 10px;
    font-family: "Lato", sans-serif;

}

.contact-message {
    height: 150px;
}

.footer-text {
    margin-bottom: 10px;
    font-size: 16px;
}

.content-image {
    border-radius: 20px;
}

.video {
    border-radius: 20px;
    padding: 0px 15px;
    border: 2px solid;
    background-color: #0b0b0b;
    /* border-image: linear-gradient(to center, #f06, #fff 50%, #f06); */
    max-width: 80vw;
}

.how-it-works-container {
    display: flex;
    flex-direction: column-reverse;
}

.story {
    margin-right: 20px;
}
/* State */

.nav-blue-btn:hover, .blue-btn:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
    background: linear-gradient(to bottom, #2a93d1, #227fb5); 
  }

.nav-yellow-btn:hover, .yellow-btn:hover {
    background-color: #D9A628;
    background: linear-gradient(to bottom, #f8ae1a, #eba313); 
}

.visibility {
    display: none;
}

.falling-element {
    opacity: 0;
    transform: translateY(20px); /* Starting subtle position */
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  }
  
  /* Class to apply the "falling into place" effect when the element is in view */
  .falling-element.visible {
    opacity: 1;
    transform: translateY(0);
  }

/* Theme */

.white {
    background-color: #F1F2F3;
}

.blue {
    background-color: #2C425B;
    color: #fff;
}

.gradient-blue {
    background-color: linear-gradient(to top, #043873, #001a3d);
    color: #fff;
}

.citation {
    color: #0056b3;
}

.white-text {
    color: white;
}

/* nav */
.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    max-width: 200px;

}

.mobile-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding-bottom: 25px;
    position: fixed;
    top: 60px;
    padding-top: 50px;
    z-index: 999;
}

.mobile-menu .nav-list {
    list-style: none;
    padding-left: 10px;
    margin: 0;
    text-align: left;
}

.hamburger {
    display: none; /* Hidden by default */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.nav-item a {
    color: #4F9CF9;
    margin: none;
    padding: 10px 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-image: linear-gradient(to right, #2E3D4F, #2A4769);;
    
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2.0;
}

.nav-btn a{
    color: #fff;
}

.nav-item a:hover{
    color: #043873;
}

.nav-btn a:hover{
    color: white;
}

.nav-bar {
    padding-right: 30px;
}

/* nav state */
.regular-menu {
    display: none; /* Hide desktop nav bar */
}
.hamburger {
    display: flex; /* Show hamburger icon */
}
.mobile-menu.active {
    display: block; /* Show mobile menu when active */
}

/* Order FAQs */

.order-faqs {
    margin-top: 25px;
}

@media (min-width: 768px) { 

    /* Base */

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 35px;
    }


    /* Layout */

    .container {
        padding: 60px 40px 30px 40px;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding-left: 40px; */
        padding-right: 40px;
        padding-left: 20px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
    }

    .hero {
        padding-top: 100px;
        padding-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: url(images/coloradosprings3.png);
        background-size: cover; */
    }

    .hero-paragraph {
        text-align: center;
    }

    .hero-image {
        max-width: 40vw;
    }

    /* Module */

    .card {
        min-width: 250px;
        min-height: 60px;
        padding: 30px;
        flex: 1;
      }

      .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    
      }

      .fullscreen {
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

      .product-card-container {
        align-items: center;
      }

      .video {
        max-width: 40vw;
    }

    .card {
        min-width: 250px;
        border-radius: 8px;
        padding: 15px;
        margin: 0px 0px 0px 0px;
      }

      .left-content {
        margin: 20px;
      }

      .nav-item a {
        color: white;
        font-size: 17px;
      }

      .nav-btn {
        margin-right: 10px;

      }

      .nav-btn {
        padding: 3px 6px;
        align-self: center;
      }

      .blue-btn {
        padding: 8px 16px;
        margin-top: 10px;
  }

  .yellow-btn {
    padding: 8px 16px;
    margin-top: 10px;
}

#form-btn {
        padding: 10px 20px;
       font-size: 20px;
}

.sub-title {
    font-size: 23px;
 }

 .centered {
    text-align: center;
 }

    /* State */

    .hamburger {
        display: none; /* Show hamburger icon */
    }

    .regular-menu {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        flex-grow: 2;
    }

    .logo-element {
        display: flex;
        align-items: center;
        justify-content: right;
        flex-grow: 0;
    }

    .mobile-menu.active {
        display: none; /* Show mobile menu when active */
    }

    .nav-item a:hover{
        color: #4F9CF9;
    }


    .nav-btn {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-btn:hover {
        color: white;
    }

    .visibility {
        display: block;
    }

    /* Theme */

    /* nav */

    .logo {
        font-size: 22px;
    }

}

@media (min-width: 1024px) { 

    /* Base */

    body {
        font-size: 20px;
    }

    h1 {
        font-size: 80px;
        line-height: 1.2;
        
    }

    h2 {
        font-size: 45px;
    }

    img {
        max-width: 40vw;
    }

    input, textarea, select {
        max-width: 550px;
        font-size: 20px;
        border: none;
        padding: 16px;
        font-family: "Plus Jakarta Sans", sans-serif;;
    }
    
    /* Layout */

    .container {
        padding: 60px 80px 60px 80px;
    }

    .text-container {
        padding: 60px 150px 60px 150px;
    }

    .footer-container {
    padding: 40px 80px; 
    padding-top: none;
    }

    .fullscreen {
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .footer-fullscreen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content-fullscreen {
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .hero {
        padding-top: 110px;
        padding-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .nav-container {
    padding: 5px 60px;
   }

   .regular-menu {
    padding-right: 60px;
   }
   

    /* Module */

    .card {
        min-width: 250px;
        min-height: 60px;
        padding: 40px;
        flex: 1;
      }

      .hero-image {
       max-width: 35vw;
    
      }

      .product-card-container {
        flex-direction: row;
      }

      .product-card {
        padding: 20px;
        margin: 0px 20px 0px 0px;
      }

      .paragraph-container {
        max-width: 900px;
        margin: 20px 0px; 
        padding: 30px 40px;
    }

    /* State */

    /* Theme */

    /* nav */

    .logo {
        font-size: 30px;
    }

    .nav-item a {
        font-size: 20px;
      }

      .sub-title {
       font-size: 25px;
       margin: 15px 0;
    }

}


@media (min-width: 1440px) { 
     /* Base */

     h1 {
        font-size: 110px;
        line-height: 1.0;
     }
    /* Layout */

    .text-container {
        padding: 60px 180px 60px 180px;
    }

    /* Module */

    .hero-image {
        max-width: 40vw;
    }
    /* State */
    /* Theme */
 }


