/* Base */

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #2b2b2b;
    line-height: 1.6;
    font-size: 16px;
    background-color: #043873;
}

h1, h2, h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 50vw;
}

input, textarea, select {
    min-width: 250px;
    font-size: 16px;
    border: none;
    margin: 5px 5px 5px 0px;
    outline: none;
    padding: 10px;
    background: linear-gradient(135deg, #ffffff, #f8f9fa); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;;
}

h1 { 
    font-size: 45px;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}


/* Layout */

.container {
    padding: 30px 20px;
}


header {
    background-color: #043873;
}

footer {
    background-color: #043873;
}

.hero {
    padding-top: 120px;
}

.hero-image {
    margin-top: 30px;
}

/* Module */

.card {
    min-width: 250px;
    background: linear-gradient(135deg, #ffffff, #f8f9fa); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0px;
  }

  .blue-btn {
        display: inline-block;
        padding: 7px 14px;
        background-color: #4F9CF9;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        margin-top: 10px;
  }

  .yellow-btn {
    display: inline-block;
    padding: 7px 14px;
    background-color: #FBC343;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.nav-blue-btn {
    display: inline-block;
    padding: 7px 14px;
    background-color: #4F9CF9;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

.nav-yellow-btn {
    display: inline-block;
    padding: 7px 14px;
    background-color: #FBC343;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.block-btn {
    display: block;
    font-size: 16px;
    width: fit-content;
    padding: 7px 14px;
}

.pre-order-text {
    margin-top: 60px;
}

.sub-title {
    margin-top: 10px;
}


/* State */

.blue-btn:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
  }

.yellow-btn:hover {
    background-color: #D9A628;
}

.visibility {
    display: none;
}

/* Theme */

.white {
    background-color: #fff;
}

.blue {
    background-color: #043873;
    color: #fff;
}

.gradient-blue {
    background-color: linear-gradient(to top, #043873, #001a3d);
    color: #fff;
}

.citation {
    color: #0056b3;
}

.white-text {
    color: white;
}

/* nav */
.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.mobile-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding-bottom: 25px;
    position: fixed;
    top: 60px;
    padding-top: 10px;
    z-index: 999;
}

.mobile-menu .nav-list {
    list-style: none;
    padding-left: 10px;
    margin: 0;
    text-align: left;
}

.hamburger {
    display: none; /* Hidden by default */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.nav-item a {
    color: #4F9CF9;
    margin: none;
    padding: 10px 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #043873;
    
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2.0;
}

.nav-btn a{
    color: #fff;
}

.nav-item a:hover{
    color: #0056b3;
}

nav-btn a:hover{
    color: #fff;
}

#nav-join-mailing-list:hover {
    color: white;
}
.nav-bar {
    padding-right: 30px;
}


/* nav state */
.regular-menu {
    display: none; /* Hide desktop nav bar */
}
.hamburger {
    display: flex; /* Show hamburger icon */
}
.mobile-menu.active {
    display: block; /* Show mobile menu when active */
}


@media (min-width: 768px) { 

    /* Base */

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 35px;
    }


    /* Layout */

    .container {
        padding: 60px 40px 30px 40px;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding-left: 40px; */
        padding-right: 40px;
        padding-left: 20px;
    }

    .hero {
        padding-top: 170px;
        padding-left: 40px;
    }

    /* Module */

    .card {
        min-width: 250px;
        min-height: 60px;
        padding: 30px;
        flex: 1;
      }

      .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    
      }

      .nav-item a {
        color: white;
        font-size: 17px;
      }

      .nav-btn {
        margin-right: 10px;

      }

      .nav-btn {
        padding: 3px 6px;
        align-self: center;
      }

      .blue-btn {
        padding: 8px 16px;
        margin-top: 10px;
  }

  .yellow-btn {
    padding: 8px 16px;
    margin-top: 10px;
}

.sub-title {
    font-size: 23px;
 }
    /* State */

    .hamburger {
        display: none; /* Show hamburger icon */
    }

    .regular-menu {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        flex-grow: 2;
    }

    .logo-element {
        display: flex;
        align-items: center;
        justify-content: right;
        flex-grow: 0;
    }

    .mobile-menu.active {
        display: none; /* Show mobile menu when active */
    }

    /* Theme */

    /* nav */

    .logo {
        font-size: 22px;
    }

}

@media (min-width: 1024px) { 

    /* Base */

    body {
        font-size: 20px;
    }

    h1 {
        font-size: 90px;
        color: green;
        line-height: 1.2;
    }

    h2 {
        font-size: 45px;
    }

    img {
        max-width: 40vw;
    }

    input, textarea, select {
        min-width: 300px;
        font-size: 20px;
        border: none;
        padding: 16px;
        font-family: "Plus Jakarta Sans", sans-serif;;
    }

    .contact-message {
        min-width: 500px;
    }
    

    
    /* Layout */

    .container {
        padding: 60px 80px 60px 80px;
    }

    .fullscreen {
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .content-fullscreen {
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .hero {
        padding-top: 110px;
        padding-left: 40px;
    }

   .nav-container {
    padding: 5px 60px;
   }

   .regular-menu {
    padding-right: 60px;
   }
   

    /* Module */

    .card {
        min-width: 250px;
        min-height: 60px;
        padding: 40px;
        flex: 1;
      }

    /* State */

    /* Theme */

    /* nav */

    .logo {
        font-size: 30px;
    }

    .nav-item a {
        font-size: 20px;
      }

      .sub-title {
       font-size: 25px;
       margin: 15px 0;
    }

}


@media (min-width: 1440px) { 
     /* Base */
    /* Layout */
    /* Module */
    /* State */
    /* Theme */
 }


