body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.65;
    background-color: #043873;
    color: white;
    scroll-behavior: smooth;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 2vw;
    padding-top: 1vh;
    cursor: pointer;
    max-width: 20%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.hero-container {
    height: 80vh;
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 15vw;
}

h1 {
    font-size: 3vw;
}

.hero-button {
    background-color: #4F9CF9;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 30px;
}

.citation {
    color: #D9D9D9;
    text-decoration: none;
}