body, html {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.65;
    background-color: #181a33;
    color: #fff;
    font-size: 16px;
}

/* login page */
/* layout */

.login-container {
    height: 100vh;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

.border {
    padding: 10vh;
    text-align: center;
    background-color: #31324f;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #ced0d8;
}

/* Typography */

h2, h3 {
    color: #FBC343;
}


/* styling */

.button {
    padding: 10px 25px;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;;
}

.blue-btn {
    background-color: #4F9CF9;
    color: #fff;
}

.button:hover{
    background-color: #FBC343;
    color: #fff;

}

input {
    background-color: #ced0d8;
    font-size: 16px;
    padding: 8px 5px;
    border-radius: 4px;
    border: none;
    margin-bottom: 12px;
}

/* Todo Page */
 /* layout */

.content-container {
    width: 50vw;
    margin: 0 auto;
    background-color: #31324f;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #ced0d8;
}

.todo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #ced0d8;
    border-radius: 8px;
    padding: 8px;
}

.archive-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* styling */

.item-btn, .archive-btn, .back-btn{
    font-size: 16px;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.item-btn:hover{
    background-color: #FBC343;
    color: black;
}

.archive-btn:hover {
    background-color: #FBC343;
    color: black;
}

.back-btn:hover{
    background-color: #FBC343;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.todo-checkbox {
    height: 20px;
    margin-right: 8px;
}

.todo-checkbox:hover {
    background-color: #FBC343;
}

.todo-item {
    color: #FBC343;
    margin-right: 8px;
}

.todo-note {
    margin-right: 8px;
}

.todo-img {
    border-radius: 50%;

}

/* Menu Page */

.paragraph-btn {
    width: fit-content;
    background-color: #4F9CF9;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.paragraph-btn:hover {
    background-color: #FBC343;
    color: black;
}